
[theme="dark"] {
--app-background-color: #222222;
--dynamic-text-color: #fff;
--dynamic-background-color: #303030;
--dynamic-border-color: #444;
--dynamic-hover-color: #3f3f3f;
--loader-border-color: #383838;
}