:root {
   --app-background-color: #E9E8D9;
   --dynamic-text-color: #000;
   --dynamic-background-color: #F4F4E6;
   --dynamic-border-color: #9E7B47;
   --dynamic-hover-color: #DBDACC;
   --loader-border-color: #a0a3a0;
   }
   